importing/nodes.csv
importing/relationships.csv

.DS_Store
.env

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/ 
dist/ 
*.egg-info/ 
*.egg

# Unit test / coverage reports
.pytest_cache/